@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

table {
    border-collapse: collapse;
}

table tbody td,
table thead th {
    padding: 10px 8px;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

table tbody tr td:nth-of-type(2) {
    max-width: calc(300px - 17px);
    min-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

table tbody tr:nth-of-type(2n):not(.minimum){
    background: #F3F9FF;
}

table thead th {
    width: 83px;
    background: rgba(0, 0, 0, 0.05);
}


table thead th button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding: 0;
}

table thead th:first-child  {
    width: 29px;
    padding: 10px 0;
}

.price_btn {
    position: relative;
}

.descending_icon {
    position: absolute;
    bottom: 2px;
    font-size: 11px;
}

.installment_check_block,
.inStock_check_block {
    display: flex;
    align-items: center;
}

.input_group {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-bottom: 8px;
}

.minimum {
    background-color: #FFDDBD;
}